<!DOCTYPE html>
<html>
    <head>
        <title> Canoe's blog </title>
    </head>
    <body>
        <header>
            <h1><a href="/">Canoe's blog</a></h1>
        </header>

        <article>
            <time> Published on March 1, 2026, 8:45 PM</time>
            <h2><a href=""> My first post</a></h2>
            <p> Veritas de los sancum, per veri ignatius!</p>
        </article>

        <article>
            <time> Published on March 2, 2026, 9:30 PM</time>
            <h2><a href =""> My second post </a></h2>
            <p> Plata porma con quardo i dia </p>
        </article>
    </body>
</html>